$color-primary: #83b901;
$color-primary-light-1: #a2e20a;
$color-primary-dark-1: #6ab901;

$color-grey-dark-1: #2e2e2e;
$color-grey-light-1: #f5f5f5;
$color-grey-light-2: #e8e8e8;
$color-black: #000;
$color-white: #fff;

$color-invalid: #ffce42;

$default-font-family: "BigNoodleTitling";
$backup-font-family: "Teko";
$secondary-font-family: "Raleway";
$italic-font-skew-1: skewX(-5deg); ;
