.header {
  height: 105vh;
  width: auto;
  background-image: url(../img/Home-Compressed.jpg);
  background-size: cover;
  background-position: top;

  &__text-box {
    margin: 0 auto;
    margin-top: 27.5vh;
  }
}
