.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-standard {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 5rem !important;
}

.u-heading-secondary {
  font-size: 3rem;
  color: $color-primary;
  transform: $italic-font-skew-1;
}

.u-uppercase {
  text-transform: uppercase !important;
}
